#labelEditor { 
    background-color:white;
    z-index:9999;
    position: absolute;
    width: 240px;
    height: 135px;
    padding: 0.4em;
}
a.link {
    font-size: small;
    padding-left: 10px;
}
.edit input[type=text] {
    width: 10em;
}
.view div.edit,
.edit div.view {
    display: none;
}
div.edit, div.view {
    display:inline-block;
}
